<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta/head', {title: 'title'}); %> <%- renderBundle('landing') %>
  </head>
  <body class="container">
    <p>Test</p>
  </body>
</html>
