<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta/head', {title: 'title'}); %> <%- renderBundle('landing') %>
  </head>
  <body>
  <div id="root">
    <%- include('../partials/molecules/navbar'); %>
    <main>
      <div class="canvas-wrapper">
        <canvas></canvas>
      </div>
    </main>
  </div>
  </body>
</html>
