<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta/head'); %> <%- renderBundle('register') %>
</head>
<body>
<%- include('../partials/atoms/homeNav') %>
<main>
    <%- include('../partials/molecules/authForm', {
    submitName: 'Zarejestruj'
    }); %>
</main>
</body>
</html>