body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

form {
  @apply border-white border-2 rounded-2xl;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form .wrapper {
  display: flex;
  position: relative;
}

form .wrapper svg {
  @apply border-2 border-white rounded-3xl h-full;
  display: flex;
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px;
  fill: white;
}

svg#password-icon {
  fill: none;
  overflow: visible;
}

label {
  @apply font-bold;
  color: white;
}
input[type='text'],
input[type='password'] {
  @apply border-white rounded-3xl border-2 text-lg p-2;
  background-color: black;
  color: white;
  text-align: center;
  width: 20vw;
  min-width: 300px;
}

input[type='submit'] {
  @apply rounded-2xl;
  margin-top: 20px;
}
