@import './nav.css';
@import './styles.css';

#root {
  @apply h-screen;
  display: flex;
  flex-direction: column;
}

main {
  @apply gap-x-20 gap-y-5 p-5;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  flex-grow: 1;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  @apply border-white border-2 rounded-2xl;
  @apply shadow-white h-full w-full;
}

menu {
  @apply font-bold border-white border-2 rounded-2xl;
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  color: white;
  gap: 2rem;
}
