.nav-wrapper {
  @apply w-full;
  display: flex;
  flex-direction: column;
}

nav {
  @apply m-5;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

div.vs {
  @apply w-full h-1;
  padding: 0 1rem;
}

div.vs > span {
  @apply h-1 bg-white m-2;
  display: block;
  margin: 0;
  padding: 0;
}
