@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply bg-black max-w-full h-screen;
  max-height: 100vh;
  min-height: 300px;
  min-width: 600px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.btn {
  @apply bg-transparent hover:bg-blue-500 text-blue-700 border-2 border-white font-bold;
  padding: 0.5em;
  color: white;
}

.range_wrapper {
  @apply gap-y-2  text-lg w-full;
  display: grid;
  grid-template-areas:
    'text text text value'
    'range range range range';
}

.range_wrapper label {
  grid-area: text;
}

.range_wrapper span {
  grid-area: value;
  align-self: flex-end;
  justify-self: flex-end;
}

.range_wrapper input[type='range'] {
  @apply w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700;
  grid-area: range;
}

nav#homeNav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 10px;
}

nav#homeNav svg {
  @apply w-10 h-10;
  color: white;
}
