<header>
 <% if (session) { %>
  <h3>Witaj <%= session.login %></h3>
 <% }%>
 <nav>
  <% if(session) { %>
  <a href="/profile" class="btn btn-profile">Profil</a>
  <button class="btn btn-logout">Wyloguj</button>
  <% } else { %>
  <a href="/register" class="btn btn-register">Rejestracja</a>
  <a href="/login" class="btn btn-login">Logowanie</a>
  <% }%>
 </nav>
 </header>
 <div class="vs" >
  <span></span>
 </div>