<div class="nav-wrapper">
 <nav>
  <a href="/register"><button class="btn btn-register">Rejestracja</button></a>
  <a href="/login"><button class="btn btn-login">Logowanie</button></a>
 </nav>
 <div class="vs" >
  <span></span>
 </div>
</div>
